# 0. Import the libraries you will need to use; do any other set ups

In [7]:
import pandas as pd

In [8]:
import matplotlib.pyplot as plt

In [9]:
pd.__version__

'2.1.2'

In [10]:
#run this cell and we will speak about this in class
pd.set_option('display.float_format', lambda x: '%.1f' % x)

# 1. Read your datasets and check out whatever you wish in order to make sure that you know your data

Your datasets are:
- <b> resourcetradeearth_ukraine_all_wheat.xlsx </b> downloaded from the [resourcetrade.earth](https://resourcetrade.earth/) of the Chatham House
- <b> resourcetradeearth_russia_all_wheat.xlsx </b> downloaded from the [resourcetrade.earth](https://resourcetrade.earth/) of the Chatham House
- <b> API_NY.GDP.MKTP.CD_DS2_en_excel_v2_4023900.xls </b> downloaded from the [World Bank Open Data portal](https://data.worldbank.org/)

<mark style="background-color: #FFFF00"> <b> Tip: </b></mark> If you have an error when trying to read your Excel files, you will need to import relevant modules. The xlrd module is my suggestion for you to read .xlsx files, but you may find more on the Internet. <br><br>
<mark style="background-color: #FFFF00"> <b> Hint 1: </b></mark> If we read a .csv file by pd.read_csv(), how do we read an Excel file? <br>
<mark style="background-color: #FFFF00"> <b> Hint 2: </b></mark> You will need to read <b> ONLY </b> specific sheets from your Excel files: you need to read only the <b> Importers_2020 </b> sheet found in the .xlsx files downloaded from the resourcetrade.earth and only the <b> 2020 </b> sheet found in the .xlsx file downloaded from the World Bank Open Data portal. You will probably need to Google how you can do this...

In [11]:
df1 = pd.read_excel('API_NY.GDP.MKTP.CD_DS2_en_excel_v2_4023900.xls', "2020")
df1

                    Country Name Country Code            GDP  population
0                          Aruba          ABW            NaN    106766.0
1    Africa Eastern and Southern          AFE 920792331527.7 677243299.0
2                    Afghanistan          AFG  20116137325.8  38928341.0
3     Africa Western and Central          AFW 784587603322.9 458803476.0
4                         Angola          AGO  58375976293.0  32866268.0
..                           ...          ...            ...         ...
261                       Kosovo          XKX   7716925356.1   1790133.0
262                  Yemen, Rep.          YEM            NaN  29825968.0
263                 South Africa          ZAF 335442101366.4  59308690.0
264                       Zambia          ZMB  18110631358.3  18383956.0
265                     Zimbabwe          ZWE  18051170798.9  14862927.0

[266 rows x 4 columns]

In [12]:
df2 = pd.read_excel('resourcetradeearth_russia_all_wheat.xlsx', "Importers_2020")
df2

,Importer M.49,Importer ISO3,Importer,Importer region,Resource,Year,Value (1000USD),Weight (1000kg)
0,4,AFG,Afghanistan,Central and Southern Asia,Wheat,2020,3243.3,11949.1
1,8,ALB,Albania,Europe,Wheat,2020,35917.1,152057.9
2,24,AGO,Angola,Sub-Saharan Africa,Wheat,2020,46093.8,199652.3
3,31,AZE,Azerbaijan,Northern Africa and Western Asia,Wheat,2020,290906.7,1369706.4
4,36,AUS,Australia,Australia and New Zealand,Wheat,2020,2445.3,1647.6
...,...,...,...,...,...,...,...,...
110,834,TZA,Tanzania,Sub-Saharan Africa,Wheat,2020,154878.7,700911.4
111,842,USA,United States,Northern America,Wheat,2020,14092.7,10073.4
112,854,BFA,Burkina Faso,Sub-Saharan Africa,Wheat,2020,1866.6,6938.0
113,860,UZB,Uzbekistan,Central and Southern Asia,Wheat,2020,10300.9,30168.9
114,887,YEM,Yemen,Northern Africa and Western Asia,Wheat,2020,174314.5,796103.4

In [13]:
df3 = pd.read_excel('resourcetradeearth_ukraine_all_wheat.xlsx', "Importers_2020")

df3 = df3.loc[:, ~df3.columns.str.contains('^Unnamed')]

In [14]:
df3

,Importer M.49,Importer ISO3,Importer,Importer region,Resource,Year,Value (1000USD),Weight (1000kg)
0,818,EGY,Egypt,Northern Africa and Western Asia,Wheat,2020,1302691.6,5541815.6
1,360,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),Wheat,2020,656298.7,2886787.0
2,50,BGD,Bangladesh,Central and Southern Asia,Wheat,2020,294847.1,1514724.7
3,792,TUR,Turkey,Northern Africa and Western Asia,Wheat,2020,310293.5,1495828.4
4,586,PAK,Pakistan,Central and Southern Asia,Wheat,2020,322861.5,1294414.3
...,...,...,...,...,...,...,...,...
116,136,CYM,Cayman Islands,Latin America and the Caribbean,Wheat,2020,0.0,0.0
117,70,BIH,Bosnia Herzegovina,Europe,Wheat,2020,0.0,0.0
118,340,HND,Honduras,Latin America and the Caribbean,Wheat,2020,0.0,0.0
119,428,LVA,Latvia,Europe,Wheat,2020,0.0,0.0
120,899,NaN,"Areas, nes",NaN,Wheat,2020,0.1,0.0

# 2. Based on your different datasets, create one single dataset to work with. This dataset should include only the variables we will really need: 
- A column with the 3-digit country codes
- An Importer column
- An Importer region column
- Two different columns for the value of imports from Ukraine and from Russia (separately)
- Two different columns for the weight of imports from Ukraine and from Russia (separately)
- One GDP column
- One pop column (population)

After you create this one single dataset, keep working with that from this point onwards!

<mark style="background-color: #FFFF00"> <b> Tip: </b></mark> Rename all your columns in such a way so that column names won't include any spaces, parenthesis or other special character. Use the underscore instead of spaces in the column names. Use only lowercase in column names.

<mark style="background-color: #FFFF00"> <b> Hint: </b></mark> Different datasets consist of different number of rows. Make sure you will not lose information when joining data from different datasets. You will need to pass a specific parameter for this inside your joining function. Search for it!

In [15]:
df1 = df1.rename(columns={df1.columns[0]:'country_name',
                         df1.columns[1]:'country_code',
                         df1.columns[3]:'pop'})

df1

                    country_name country_code            GDP         pop
0                          Aruba          ABW            NaN    106766.0
1    Africa Eastern and Southern          AFE 920792331527.7 677243299.0
2                    Afghanistan          AFG  20116137325.8  38928341.0
3     Africa Western and Central          AFW 784587603322.9 458803476.0
4                         Angola          AGO  58375976293.0  32866268.0
..                           ...          ...            ...         ...
261                       Kosovo          XKX   7716925356.1   1790133.0
262                  Yemen, Rep.          YEM            NaN  29825968.0
263                 South Africa          ZAF 335442101366.4  59308690.0
264                       Zambia          ZMB  18110631358.3  18383956.0
265                     Zimbabwe          ZWE  18051170798.9  14862927.0

[266 rows x 4 columns]

In [16]:
df2 = df2.rename(columns={df2.columns[1]:'country_code',
                          df2.columns[2]:'importer',
                         df2.columns[3]:'importer_region',
                         df2.columns[6]:'value_1000usd_for_russia',
                         df2.columns[7]:'weight_1000kg_for_russia'})

df2

,Importer M.49,country_code,importer,importer_region,Resource,Year,value_1000usd_for_russia,weight_1000kg_for_russia
0,4,AFG,Afghanistan,Central and Southern Asia,Wheat,2020,3243.3,11949.1
1,8,ALB,Albania,Europe,Wheat,2020,35917.1,152057.9
2,24,AGO,Angola,Sub-Saharan Africa,Wheat,2020,46093.8,199652.3
3,31,AZE,Azerbaijan,Northern Africa and Western Asia,Wheat,2020,290906.7,1369706.4
4,36,AUS,Australia,Australia and New Zealand,Wheat,2020,2445.3,1647.6
...,...,...,...,...,...,...,...,...
110,834,TZA,Tanzania,Sub-Saharan Africa,Wheat,2020,154878.7,700911.4
111,842,USA,United States,Northern America,Wheat,2020,14092.7,10073.4
112,854,BFA,Burkina Faso,Sub-Saharan Africa,Wheat,2020,1866.6,6938.0
113,860,UZB,Uzbekistan,Central and Southern Asia,Wheat,2020,10300.9,30168.9
114,887,YEM,Yemen,Northern Africa and Western Asia,Wheat,2020,174314.5,796103.4

In [17]:
df3 = df3.rename(columns={df3.columns[1]:'country_code',
                          df3.columns[2]:'importer',
                         df3.columns[3]:'importer_region',
                         df3.columns[6]:'value_1000usd_for_ukraine',
                         df3.columns[7]:'weight_1000kg_for_ukraine'})

df3

,Importer M.49,country_code,importer,importer_region,Resource,Year,value_1000usd_for_ukraine,weight_1000kg_for_ukraine
0,818,EGY,Egypt,Northern Africa and Western Asia,Wheat,2020,1302691.6,5541815.6
1,360,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),Wheat,2020,656298.7,2886787.0
2,50,BGD,Bangladesh,Central and Southern Asia,Wheat,2020,294847.1,1514724.7
3,792,TUR,Turkey,Northern Africa and Western Asia,Wheat,2020,310293.5,1495828.4
4,586,PAK,Pakistan,Central and Southern Asia,Wheat,2020,322861.5,1294414.3
...,...,...,...,...,...,...,...,...
116,136,CYM,Cayman Islands,Latin America and the Caribbean,Wheat,2020,0.0,0.0
117,70,BIH,Bosnia Herzegovina,Europe,Wheat,2020,0.0,0.0
118,340,HND,Honduras,Latin America and the Caribbean,Wheat,2020,0.0,0.0
119,428,LVA,Latvia,Europe,Wheat,2020,0.0,0.0
120,899,NaN,"Areas, nes",NaN,Wheat,2020,0.1,0.0

In [18]:
df4 = df1[['country_code','GDP','pop']]
df4

    country_code            GDP         pop
0            ABW            NaN    106766.0
1            AFE 920792331527.7 677243299.0
2            AFG  20116137325.8  38928341.0
3            AFW 784587603322.9 458803476.0
4            AGO  58375976293.0  32866268.0
..           ...            ...         ...
261          XKX   7716925356.1   1790133.0
262          YEM            NaN  29825968.0
263          ZAF 335442101366.4  59308690.0
264          ZMB  18110631358.3  18383956.0
265          ZWE  18051170798.9  14862927.0

[266 rows x 3 columns]

In [19]:
df5=df2[['country_code','importer','importer_region','value_1000usd_for_russia','weight_1000kg_for_russia']]
df5

,country_code,importer,importer_region,value_1000usd_for_russia,weight_1000kg_for_russia
0,AFG,Afghanistan,Central and Southern Asia,3243.3,11949.1
1,ALB,Albania,Europe,35917.1,152057.9
2,AGO,Angola,Sub-Saharan Africa,46093.8,199652.3
3,AZE,Azerbaijan,Northern Africa and Western Asia,290906.7,1369706.4
4,AUS,Australia,Australia and New Zealand,2445.3,1647.6
...,...,...,...,...,...
110,TZA,Tanzania,Sub-Saharan Africa,154878.7,700911.4
111,USA,United States,Northern America,14092.7,10073.4
112,BFA,Burkina Faso,Sub-Saharan Africa,1866.6,6938.0
113,UZB,Uzbekistan,Central and Southern Asia,10300.9,30168.9
114,YEM,Yemen,Northern Africa and Western Asia,174314.5,796103.4

In [20]:
df6=df3[['country_code','importer','importer_region','value_1000usd_for_ukraine','weight_1000kg_for_ukraine']]
df6

,country_code,importer,importer_region,value_1000usd_for_ukraine,weight_1000kg_for_ukraine
0,EGY,Egypt,Northern Africa and Western Asia,1302691.6,5541815.6
1,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),656298.7,2886787.0
2,BGD,Bangladesh,Central and Southern Asia,294847.1,1514724.7
3,TUR,Turkey,Northern Africa and Western Asia,310293.5,1495828.4
4,PAK,Pakistan,Central and Southern Asia,322861.5,1294414.3
...,...,...,...,...,...
116,CYM,Cayman Islands,Latin America and the Caribbean,0.0,0.0
117,BIH,Bosnia Herzegovina,Europe,0.0,0.0
118,HND,Honduras,Latin America and the Caribbean,0.0,0.0
119,LVA,Latvia,Europe,0.0,0.0
120,NaN,"Areas, nes",NaN,0.1,0.0

In [21]:
df7 = pd.merge(df4, df5, on='country_code', how='left')
df7

,country_code,GDP,pop,importer,importer_region,value_1000usd_for_russia,weight_1000kg_for_russia
0,ABW,NaN,106766.0,NaN,NaN,NaN,NaN
1,AFE,920792331527.7,677243299.0,NaN,NaN,NaN,NaN
2,AFG,20116137325.8,38928341.0,Afghanistan,Central and Southern Asia,3243.3,11949.1
3,AFW,784587603322.9,458803476.0,NaN,NaN,NaN,NaN
4,AGO,58375976293.0,32866268.0,Angola,Sub-Saharan Africa,46093.8,199652.3
...,...,...,...,...,...,...,...
261,XKX,7716925356.1,1790133.0,NaN,NaN,NaN,NaN
262,YEM,NaN,29825968.0,Yemen,Northern Africa and Western Asia,174314.5,796103.4
263,ZAF,335442101366.4,59308690.0,South Africa,Sub-Saharan Africa,124562.0,572367.7
264,ZMB,18110631358.3,18383956.0,NaN,NaN,NaN,NaN
265,ZWE,18051170798.9,14862927.0,Zimbabwe,Sub-Saharan Africa,3594.9,10252.9

In [22]:
df8 = pd.merge(df7, df6, on=['country_code','importer','importer_region'], how='left')
desired_order = ['country_code', 'importer', 'importer_region', 'value_1000usd_for_russia', 'value_1000usd_for_ukraine','weight_1000kg_for_russia','weight_1000kg_for_ukraine','GDP','pop']
df9= df8[desired_order]
df9

,country_code,importer,importer_region,value_1000usd_for_russia,value_1000usd_for_ukraine,weight_1000kg_for_russia,weight_1000kg_for_ukraine,GDP,pop
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106766.0
1,AFE,NaN,NaN,NaN,NaN,NaN,NaN,920792331527.7,677243299.0
2,AFG,Afghanistan,Central and Southern Asia,3243.3,NaN,11949.1,NaN,20116137325.8,38928341.0
3,AFW,NaN,NaN,NaN,NaN,NaN,NaN,784587603322.9,458803476.0
4,AGO,Angola,Sub-Saharan Africa,46093.8,24.0,199652.3,98.0,58375976293.0,32866268.0
...,...,...,...,...,...,...,...,...,...
261,XKX,NaN,NaN,NaN,NaN,NaN,NaN,7716925356.1,1790133.0
262,YEM,Yemen,Northern Africa and Western Asia,174314.5,144444.6,796103.4,708418.8,NaN,29825968.0
263,ZAF,South Africa,Sub-Saharan Africa,124562.0,12338.2,572367.7,60006.8,335442101366.4,59308690.0
264,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,18110631358.3,18383956.0
265,ZWE,Zimbabwe,Sub-Saharan Africa,3594.9,13720.3,10252.9,35926.7,18051170798.9,14862927.0

In [23]:
df9[df9.duplicated(keep=False)]

Empty DataFrame
Columns: [country_code, importer, importer_region, value_1000usd_for_russia, value_1000usd_for_ukraine, weight_1000kg_for_russia, weight_1000kg_for_ukraine, GDP, pop]
Index: []

In [24]:
df9 =df9.dropna()
df9

,country_code,importer,importer_region,value_1000usd_for_russia,value_1000usd_for_ukraine,weight_1000kg_for_russia,weight_1000kg_for_ukraine,GDP,pop
4,AGO,Angola,Sub-Saharan Africa,46093.8,24.0,199652.3,98.0,58375976293.0,32866268.0
5,ALB,Albania,Europe,35917.1,5471.3,152057.9,22126.8,14887629268.3,2837849.0
8,ARE,United Arab Emirates,Northern Africa and Western Asia,167808.2,27420.6,685970.5,96941.4,358868765174.9,9890400.0
10,ARM,Armenia,Northern Africa and Western Asia,74502.9,12.2,370331.5,25.0,12641209802.1,2963234.0
13,AUS,Australia,Australia and New Zealand,2445.3,11.0,1647.6,7.0,1327836171068.5,25693267.0
...,...,...,...,...,...,...,...,...,...
247,UGA,Uganda,Sub-Saharan Africa,47412.2,17811.8,202875.6,72199.7,37600368180.9,45741000.0
251,USA,United States,Northern America,14092.7,36.6,10073.4,62.9,20953030000000.0,331501080.0
257,VNM,Vietnam,Eastern and South-Eastern Asia (excl. China),163742.7,54863.0,672277.6,250777.7,271158442448.5,97338583.0
263,ZAF,South Africa,Sub-Saharan Africa,124562.0,12338.2,572367.7,60006.8,335442101366.4,59308690.0
265,ZWE,Zimbabwe,Sub-Saharan Africa,3594.9,13720.3,10252.9,35926.7,18051170798.9,14862927.0

In [25]:
df9 = df9.reset_index().drop(['index'],axis=1)

df9

,country_code,importer,importer_region,value_1000usd_for_russia,value_1000usd_for_ukraine,weight_1000kg_for_russia,weight_1000kg_for_ukraine,GDP,pop
0,AGO,Angola,Sub-Saharan Africa,46093.8,24.0,199652.3,98.0,58375976293.0,32866268.0
1,ALB,Albania,Europe,35917.1,5471.3,152057.9,22126.8,14887629268.3,2837849.0
2,ARE,United Arab Emirates,Northern Africa and Western Asia,167808.2,27420.6,685970.5,96941.4,358868765174.9,9890400.0
3,ARM,Armenia,Northern Africa and Western Asia,74502.9,12.2,370331.5,25.0,12641209802.1,2963234.0
4,AUS,Australia,Australia and New Zealand,2445.3,11.0,1647.6,7.0,1327836171068.5,25693267.0
...,...,...,...,...,...,...,...,...,...
84,UGA,Uganda,Sub-Saharan Africa,47412.2,17811.8,202875.6,72199.7,37600368180.9,45741000.0
85,USA,United States,Northern America,14092.7,36.6,10073.4,62.9,20953030000000.0,331501080.0
86,VNM,Vietnam,Eastern and South-Eastern Asia (excl. China),163742.7,54863.0,672277.6,250777.7,271158442448.5,97338583.0
87,ZAF,South Africa,Sub-Saharan Africa,124562.0,12338.2,572367.7,60006.8,335442101366.4,59308690.0
88,ZWE,Zimbabwe,Sub-Saharan Africa,3594.9,13720.3,10252.9,35926.7,18051170798.9,14862927.0

In [26]:
df9.dtypes

country_code                  object
importer                      object
importer_region               object
value_1000usd_for_russia     float64
value_1000usd_for_ukraine    float64
weight_1000kg_for_russia     float64
weight_1000kg_for_ukraine    float64
GDP                          float64
pop                          float64
dtype: object

# 3a. Display only rows that refer to Asia's imports from either Ukraine or Russia, without including China's imports

In [27]:
df10 = df9[(df9.importer_region.str.contains('Asia',case=False))&(df9.importer_region.str.contains('China',case=False))]
df10

,country_code,importer,importer_region,value_1000usd_for_russia,value_1000usd_for_ukraine,weight_1000kg_for_russia,weight_1000kg_for_ukraine,GDP,pop
30,IDN,Indonesia,Eastern and South-Eastern Asia (excl. China),10813.5,656298.7,47853.4,2886787.0,1058423838345.1,273523621.0
35,JPN,Japan,Eastern and South-Eastern Asia (excl. China),4.9,0.1,7.0,0.1,5057758958706.6,125836021.0
38,KHM,Cambodia,Eastern and South-Eastern Asia (excl. China),137.7,86.2,450.0,365.4,25808561551.0,16718971.0
39,KOR,"Korea, Republic",Eastern and South-Eastern Asia (excl. China),15113.1,83941.7,58840.0,413403.8,1637895802792.9,51836239.0
53,MMR,Myanmar,Eastern and South-Eastern Asia (excl. China),1010.2,16669.3,4182.8,69103.8,79852046611.0,54409794.0
58,MYS,Malaysia,Eastern and South-Eastern Asia (excl. China),12133.0,90462.8,53922.7,378554.8,337006066373.3,32365998.0
65,PHL,Philippines,Eastern and South-Eastern Asia (excl. China),116210.1,134799.6,548691.5,634918.8,361489325230.7,109581085.0
74,SGP,Singapore,Eastern and South-Eastern Asia (excl. China),5.9,1321.8,10.8,5402.2,339998477930.0,5685807.0
80,THA,Thailand,Eastern and South-Eastern Asia (excl. China),68536.4,122425.8,309931.7,569676.4,501643653514.9,69799978.0
86,VNM,Vietnam,Eastern and South-Eastern Asia (excl. China),163742.7,54863.0,672277.6,250777.7,271158442448.5,97338583.0

# 3b. How many rows are those?

In [28]:
row_count = len(df10)
print(row_count)

10

# 4. How many total tones of wheat have been imported in Europe from both Ukraine and Russia?

In [31]:
europe_df = df9.loc[df9['importer_region'] == 'Europe']
europe_df 
europe_df['weight_1000kg_for_russia'].sum() + europe_df['weight_1000kg_for_ukraine'].sum()

1975485.5497263162

# 5. Based on weight of total imports per capita, what are the top-10 wheat importers from both Ukraine and Russia? And what is the imported weight per capita in each top importer?

<b> <i> Present your analysis in a tiny dataframe of two columns (importer & weight_per_capita) </i></b>!

In [32]:

df9['weight_per_capita'] = (df9['weight_1000kg_for_russia'] + df9['weight_1000kg_for_ukraine']) / df9['pop']
top_10 = df9.sort_values(by='weight_per_capita', ascending=False).head(10)

result_df = top_10[['importer', 'weight_per_capita']]
result_df.reset_index().drop(['index'],axis=1)

     importer  weight_per_capita
0      Latvia                0.2
1       Egypt                0.2
2     Lebanon                0.1
3     Georgia                0.1
4  Azerbaijan                0.1
5     Armenia                0.1
6      Turkey                0.1
7       Libya                0.1
8     Tunisia                0.1
9        Oman                0.1

# 6. What is the total amount of money spent on wheat imports by region?

In [33]:
df9['total_wheat_imports'] = df9['value_1000usd_for_russia'] + df9['value_1000usd_for_ukraine']

total_imports_by_region = df9.groupby('importer_region')['total_wheat_imports'].sum()
total_imports_df = total_imports_by_region.reset_index(name='Total Wheat Imports')
total_imports_df

                                importer_region  Total Wheat Imports
0                     Australia and New Zealand               2588.1
1                     Central and Southern Asia            1584559.4
2                                         China              59161.8
3  Eastern and South-Eastern Asia (excl. China)            1548576.5
4                                        Europe             465647.2
5               Latin America and the Caribbean              27921.7
6              Northern Africa and Western Asia            9087173.4
7                              Northern America              14371.4
8                            Sub-Saharan Africa            1226400.1